/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/QA36-1.0-SNAPSHOT.jar
/.idea/*.*
/target/test-classes/*.class
/.idea/inspectionProfiles/Project_Default.xml
/src/test/resources/testFile-20221108T214515.log
/target/test-classes/logback.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_4.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_1.xml
/QA36.iml
/src/test/resources/testFile-20221108T212421.log
/target/test-classes/testFile-20221108T212421.log
/src/test/resources/testFile-20221108T213045.log
/target/test-classes/testFile-20221108T213045.log
/src/test/resources/testFile-20221108T213103.log
/target/test-classes/testFile-20221108T213103.log
/src/test/resources/testFile-20221108T214016.log
/target/test-classes/testFile-20221108T214016.log
/src/test/resources/testFile-20221108T214107.log
/target/test-classes/testFile-20221108T214107.log
/src/test/resources/testFile-20221108T214229.log
/target/test-classes/testFile-20221108T214229.log
/src/test/resources/testFile-20221108T214306.log
/target/test-classes/testFile-20221108T214306.log
/src/test/resources/testFile-20221110T172248.log
/target/test-classes/testFile-20221110T171614.log
/src/test/resources/testFile-20221110T171614.log
/target/test-classes/testFile-20221108T214515.log
/target/test-classes/testFile-20221108T214321.log
/src/test/resources/testFile-20221108T214321.log
