/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/QA36-1.0-SNAPSHOT.jar
/.idea/*.*
/target/test-classes/*.class
/.idea/inspectionProfiles/Project_Default.xml
